{% extends "base.html" %}
{% block content %}
<main>
    <div class="mainContent">
        <div class="postagem principal">
            <div class="postHeader">
                <h1>Atualizações</h1>
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='imagens/botoesControle.png') }}"></a>
            </div>
            <hr>
            <div class="postContent nogap">
                <img src="{{ url_for('static', filename='imagens/love.png') }}" class="gg">
                <div class="textoPost nogap border">
                    <h3>WIP release 1.0</h3>
                    <hr>
                    <p>eu literal fiz tudo do backend (vixi, não deu tempo de terminar em um dia... rs)</p>
                    <ul>
                        <li>Servidor backend</li>
                        <li>Publicação de posts</li>
                        <li>Removi os gnomos</li>
                        <li>Páginas dinâmicas</li>
                        <li>Banco de dados</li>
                    </ul>
                </div>
            </div>
            <div class="postContent nogap">
                <div class="textoPost nogap border">
                    <h3>beta 0.11</h3>
                    <hr>
                    <p>Correção de erros e ajustes à aparência da página de atualizações</p>
                </div>
                <div class="textoPost nogap border">
                    <h3>beta 0.1</h3>
                    <hr>
                    <p>Terminei a aparência do site, só peguei um molde de um trabalho que eu fiz... Agora só falta todo o resto rs</p>
                </div>
            </div>
            <a class="botao post principal" href="{{ url_for('index') }}">Voltar</a>
        </div>
    </div>
</main>
{% endblock %}