<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>blog mucho loko 👌</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='imagens/icon.png') }}" type="image/x-icon">
    <meta property="og:title" content="blog mucho loko 👌">
    <meta name="twitter:title" content="blog mucho loko 👌">
    <meta name="description" content="Blog para compartilhar pensamentos, notícias e experiências da vida! Since 2019">
    <meta property="og:description" content="Blog para compartilhar pensamentos, notícias e experiências da vida! Since 2019">
    <meta name="twitter:description" content="Blog para compartilhar pensamentos, notícias e experiências da vida! Since 2019">
    <meta property="og:image"  content="https://blog-mucho-loko.glitch.me/public/imagens/Banner.jpg">
    <meta name="twitter:image" content="https://blog-mucho-loko.glitch.me/public/imagens/Banner.jpg">
    {% block additional_styles %}{% endblock %}
</head>
<body>
{% block header %}
<header id="header">
    <div class="headerMain">
        <div class="logo">
            <img src="{{ url_for('static', filename='imagens/logo.png') }}">
            <div>
                <h1 class="title">blog mucho loko 📸👌</h1>
                <p>agora em full hd!</p>
            </div>
        </div>
        <div id="navegacao">
            <p class="botao">Navegação</p>
            <div class="dropdown">
                <a href="{{ url_for('index') }}">Home</a>
                <a target="_blank" href="https://www.youtube.com/channel/UCnnGG5kATos2gKOyg7lsELA">Youtube</a>
                <a target="_blank" href="https://steamcommunity.com/id/amaiorgostosadobrasil">Steam</a>
                <a target="_blank" href="https://github.com/espinafr">Github</a>
                <a target="_blank" href="https://www.twitch.tv/espinafr_">Twitch</a>
            </div>
        </div>
    </div>
    <div class="divisao"></div>
</header>
{% endblock %}
{% block content %}{% endblock %}
    <footer>
        <div class="divisaoBottom"></div>
        <div class="footerMain">
            <p>Por Théo Modeneis Ruela</p>
            {% if logado() %}
            <p>Logado como: {{ logado() }} (<a href="{{ url_for('editor') }}">Postar</a> - <a href="{{ url_for('logout') }}">Sair</a>)</p>
            {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>
    </footer>
</body>
</html>