{% extends "base.html" %}
{% block additional_styles %}
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='like.js') }}"></script>
{% endblock %}
{% block content %}
<main>
    <div class="mainContent">
        <div class="postagem principal">
            <div class="postHeader">
                <h1>{{ post[1]}} <span class="data">{{post[3]}}</span></h1>
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='imagens/botoesControle.png') }}"></a>
            </div>
            <hr>
            {% if post[5] != '0' %}
              {% for paragrafo in post[2].split('\n', 1) %}
              <div class="postContent">
                  {% if loop.index0 == 0 %}
                      <img src="{{ url_for('static', filename='{}/{}.{}'.format(imgPath(), post[0], post[5])) }}" class="gg">
                  {%endif%}
                  <div class="textoPost">
                      {% for paragrafo2 in paragrafo.split('\n') %}
                        <p>{{paragrafo2}}</p>
                      {% endfor %}
                  </div>
              </div>
              {% endfor %}
            {%else%}
              <div class="postContent">
                  <div class="textoPost">
                      {% for paragrafo in post[2].split('\n') %}
                        <p>{{paragrafo}}</p>
                      {% endfor %}
                  </div>
              </div>
            {%endif%}
            
            <div class="postagemfooter">
                <p>Autor: {{ post[4] }}</p>
                {% if logado() %}
                    <div style="display: flex; align-items: center;">
                      <a class="botao post principal" href="{{ url_for('index') }}" style="width: 40%;">Voltar</a>
                      <a class="botao post principal" href="{{ url_for('deletarpost', post_id=post[0]) }}" style="color: red!important; border-color: red; width: 40%;">Deletar</a>
                    </div>
                {% else %}
                    <a class="botao post principal" href="{{ url_for('index') }}">Voltar</a>
                {% endif %}
                <a data-post_id="{{post[0]}}" class="likes">{{ post[6] }} likes</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}